In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
# Создаём сэмпл
n_samples = 1000

age_owner = np.random.choice(90, n_samples) + 21
length = np.random.choice(120, n_samples) + 15
width = np.random.choice(80, n_samples) + 10

price = length * width * 100 + 126

data = pd.DataFrame({'age_owner': age_owner, 'length': length, 'width': width, 'price': price})
data.head(5)

   age_owner  length  width   price
0         49      25     35   87626
1         42      15     56   84126
2         46     124     71  880526
3         54      64     17  108926
4         70      87     72  626526

In [3]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  25.01023665 4980.42936532 7166.7408235 ]
Bias: -356338.37995915994
Error: 60869.32768241772

In [4]:
y.median()

317226.0

In [5]:
X = data[['length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [4981.48918327 7166.01408217]
Bias: -354745.91399764706
Error: 60853.68307749027

In [6]:
# Создаем новый признак
data['mult'] = data['length'] * data['width']
data.head(5)

   age_owner  length  width   price  mult
0         49      25     35   87626   875
1         42      15     56   84126   840
2         46     124     71  880526  8804
3         54      64     17  108926  1088
4         70      87     72  626526  6264

In [7]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 126.0
Error: 0.0

Необходимо запустить практическую часть занятия, и посмотреть самому то, о чём говорили на лекции. По образу практики, попробуйте создать искусственный датасет с лишними столбцами. Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель. Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown. Здесь важно видеть ваш ход мысли. Не бойтесь ошибиться или написать не то. Данное задание не имеет какого-то “правильного” решения. Цель - достичь базового понимания проблемы. Чем больше вы фантазируете, тем лучше :) Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных. Успеха!

Формирую датасет со стоимастью авиабилетов. Если верить гуглу она формируется из тарифа и сборов. Предположим, что летаем только по России и размер сборов и тарифа никак не связаны, тогда цена сложится из тарифа, оплаты авиаперевозчику, налогов, но не зависит от возраста пилота и силы ветра.

In [27]:
n_samples = 1000

rate = np.random.choice(18000, n_samples) + 2000
air_carrier_fees = np.random.choice(6000, n_samples) + 1000
taxes = np.random.choice(2500, n_samples) + 300
wind_speed = np.random.choice(19, n_samples) + 1
pilot_age = np.random.choice(40, n_samples) + 25

price = rate + air_carrier_fees + taxes

data = pd.DataFrame({'rate': rate, 'air_carrier_fees': air_carrier_fees, 
                     'taxes': taxes, 'number_of_passengers': number_of_passengers,
                     'wind_speed': wind_speed, 'pilot_age':pilot_age , 'price': price})
data.head(5)

,rate,air_carrier_fees,taxes,number_of_passengers,wind_speed,pilot_age,price
0,5795,4450,2412,3,16,45,12657
1,18527,6785,348,3,16,49,25660
2,6873,2210,1651,3,10,61,10734
3,11681,3628,629,2,10,53,15938
4,19919,6987,1952,3,8,28,28858

In [28]:
from sklearn.metrics import mean_absolute_error

X = data[['wind_speed', 'pilot_age']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['wind_speed', 'pilot_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-41.33971814   2.39450152]
Bias: 16753.7493095899
Error: 4614.243663570865

Получили большую ошибку, а значит что-то мы не то учитываем

Медиана стоимости:

In [29]:
y.median()

16275.5

In [30]:
X = data[['rate', 'air_carrier_fees', 'taxes']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['rate', 'air_carrier_fees', 'taxes']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1. 1. 1.]
Bias: -7.275957614183426e-12
Error: 2.67891664407216e-12

Ошибка уже мала. Объединим сборы в один признак

In [34]:
data['all_fees'] = data['air_carrier_fees'] + data['taxes'] 
data.head(5)

,rate,air_carrier_fees,taxes,number_of_passengers,wind_speed,pilot_age,price,all_fees
0,5795,4450,2412,3,16,45,12657,6862
1,18527,6785,348,3,16,49,25660,7133
2,6873,2210,1651,3,10,61,10734,3861
3,11681,3628,629,2,10,53,15938,4257
4,19919,6987,1952,3,8,28,28858,8939

In [35]:
X = data[['rate', 'all_fees']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['rate', 'all_fees']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1. 1.]
Bias: 0.0
Error: 1.0436451702844351e-12

Примерно то же самое, но ошибка достаточно мала, чтобы остановиться (?)